
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
// @import url("https://use.typekit.net/hsr0fbe.css");
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Noto Sans TC',"Microsoft JhengHei", Helvetica, Arial, Verdana, "PingFang", "PingFangTC", sans-serif;
    font-size: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 1.375em;
    // cursor: url('../../images/layout/point40.png'), auto !important;
    // cursor: url('../../images/layout/point50.png'), pointer !important;
     ::selection {
        background: #7F4F21;
        color: #fff;
    }
     ::-moz-selection {
        background: #7F4F21;
        color: #fff;
    }
    img::selection {
        background: transparent;
    }
    img::-moz-selection {
        background: transparent;
    }
    * {
        line-height: 1.375em;
    }
}

input,
select,
textarea {
    outline: none;
    font-family: 'Noto Sans TC',"Microsoft JhengHei", Helvetica, Arial, Verdana, "PingFang", "PingFangTC", sans-serif;
    font-size: 1rem;
    line-height: 1.375em;
    &:focus {
        outline: none;
    }
}


/*a連結設定*/

a {
    text-decoration: none;
    color: $color-main;
    outline: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

select {
    background: #fff;
}

.mask {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 9000;
    left: 0;
    top: 0;
}

//這是用來控制目前是什麼行動模式或是桌面模式
#js-rwd {
    display: block;
    height: 0;
    width: 0;
    background: transparent;
    visibility: hidden;
    @include mq($xl) {
        width: 10px;
    }
}

p {
    font-size: 1rem;
    line-height: 1.75em;
    // @include md {
    //     font-size: 1.125rem;
    margin: 0;
    color: #222;
    // }
    @include mq($xl) {
        font-size: 1.125rem;
    }
}

h2 {
    margin: 0;
    color: #222;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

sub,
sup {
    font-size: 0.625em;
    margin-right: 0.5rem;
}
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;  
    align-items: center;
    justify-content: center;
    // padding: 1em;
    // margin: 1em;
    // background: #E8E8E8;
    // border: 2px solid #000;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // background-color: #ddd;
    &.wht {
        // color: #fff;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        width: 10px;
        height: 5px;
        transform: translateY(-50%) rotate(180deg);
        // background-image: url(../../images/layout/arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px auto;
    }
}
.back-to-top:hover {
    cursor: pointer;
}