@import url('https://fonts.googleapis.com/css?family=Montserrat:700');



.loader {
  position: fixed;
  // display: none;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: #111;
  background-image: radial-gradient(#555, #111);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  animation: scene 2.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 26px;
  animation: disapear .5s linear;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  &.none {
    display: none;
  }
  .countNumber {
    font-size: 35px;
    margin: 0 10px;
    line-height: 1;
  }
  @include mq($sm) {
    font-size: 30px;
    .countNumber {
      font-size: 45px;
   } 
  }
}
#fly-in {
  font-size: 10em;
  margin: 40vh auto;
  height: 20vh; 
  text-transform: uppercase;
}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: .8;
}

#fly-in div {
 position: fixed; 
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 8s linear infinite;
}

#fly-in div:nth-child(2) { animation-delay: 1s}
#fly-in div:nth-child(3) { animation-delay: 2s}
#fly-in div:nth-child(4) { animation-delay: 3s}
#fly-in div:nth-child(5) { animation-delay: 4s}
#fly-in div:nth-child(6) { animation-delay: 5s}
#fly-in div:nth-child(7) { animation-delay: 6s}
#fly-in div:nth-child(8) { animation-delay: 7s}

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(.9)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}
@keyframes disapear {
  0% { opacity: 1;}
  
  100% { opacity: 0;}
}
@keyframes scene {
  0% { top: 0;}
  30% { top: 0;}
  50% { top: 0;}
  // 70% { top: 0;}
  80% { top: -80%;}
  100% { top: -100%;}
}
@keyframes superman {
  0% { opacity: 0;}
  50% { opacity: 1;bottom: -100px;}
  // 70% { bottom: 0;}
  80% { bottom: 80%;}
  100% { bottom: 100%;}
}
.superMan {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 560;
  width: 200px;
  animation: superman 2.5s linear;
  animation-delay: 2s;
  @include mq($md) {
    width: 300px;
  }
  img {
    display: block;
    width: 100%;
    transform: rotate(25deg);
  }
  p {
    font-size: 24px;
    color: #fff;
    text-align: center;
  }
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
  }
  li {
    &:nth-of-type(1) {
      width: 1px;
      height: 80px;
      background-color: #fff;
    }
    &:nth-of-type(2) {
      width: 1px;
      height: 60px;
      background-color: #fff;
    }
    &:nth-of-type(3) {
      width: 1px;
      height: 100px;
      background-color: #fff;
    }
    &:nth-of-type(4) {
      width: 1px;
      height: 120px;
      background-color: #fff;
    }
    &:nth-of-type(5) {
      width: 1px;
      height: 70px;
      background-color: #fff;
    }
  }
}

// @keyframes delay {
//     0%, 40%, 100% { 
//       transform: scaleY(0.05);
//       -webkit-transform: scaleY(0.05);
//     }  20% { 
//       transform: scaleY(1.0);
//       -webkit-transform: scaleY(1.0);
//     }
//   }
//   .loader {
//     margin: 0 auto;
//     pointer-events: none;
//     text-align: center;
//     font-size: 10px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     // transform: translateY(-50%) translateX(-50%);
//     z-index: 500;
//     opacity: 0;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     .bars {
//         width: 60px;
//         height: 50px;
//     }
//     .bar {
//       height: 100%;
//       width: 8px;
//       display: inline-block;
//       float: left;
//       margin-left: 2px;
//       animation: delay 0.8s infinite ease-in-out;
//     }
//     &:before,
//     &:after{
//       content: '';
//       height: 50vh;
//       width:100%;
//       position:fixed;
//       left:0;
//       background: #1c2020;
//       z-index: -1;
//     }
    
//     &:before{
//       top: 0;
//       height: calc(50vh + 5px);
//       transform: translateY(-100%);
//     }
//     &:after{
//       bottom: 0;
//       transform: translateY(100%);
//     }
//     .bar1{
//       background-color: #754fa0 ;
//     }
//     .bar2{
//       background-color: #09b7bf;
//       animation-delay: -0.7s;
//     }
//     .bar3{
//       background-color: #90d36b;
//       animation-delay: -0.6s;
//     }
//     .bar4{
//       background-color: #f2d40d;
//       animation-delay: -0.5s;
//     }
//     .bar5{
//       background-color: #fcb12b;
//       animation-delay: -0.4s;
//     }
//     .bar6{
//       background-color: #ed1b72;
//       animation-delay: -0.3s;
//     }
//   }

// //spin-circle
// .loading-circle {
//     margin: 0 auto;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     border: 4px solid #BEB69D;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     animation: spin 1s infinite linear;
//     &:before {
//         content: '';
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         display: block;
//         position: absolute;
//         left: -4px;
//         top: -4px;
//         border-right: 4px solid #BEB69D;
//         border-top: 4px solid #BEB69D;
//         border-left: 4px solid #FFF;
//         border-bottom: 4px solid #BEB69D;
//     }
// }

// @keyframes spin {
//     100% {
//         transform: rotate(360deg);
//     }
// }

// //animation bar
// .loading-bars {
//     text-align: center;
//     opacity: .6;
//     transition-duration: 0.3s;
//     &:hover {
//         opacity: 1;
//     }
// }

// .loading-bars {
//     .bar {
//         height: 20px;
//         width: 10px;
//         background: #FFF;
//         display: inline-block;
//         animation: loadpulse 1.2s infinite ease-out;
//     }
// }

// .loading-bars .bar:nth-of-type(0n+1) {
//     animation-delay: 0s;
// }

// .loading-bars .bar:nth-of-type(0n+2) {
//     animation-delay: 0.2s;
// }

// .loading-bars .bar:nth-of-type(0n+3) {
//     animation-delay: 0.4s;
// }

// .loading-bars .bar:nth-of-type(0n+4) {
//     animation-delay: 0.6s;
// }

// .loading-bars .bar:nth-of-type(0n+5) {
//     animation-delay: 0.8s;
// }

// @keyframes loadpulse {
//     0%,
//     75% {
//         transform: scale(1, 1);
//     }
//     25% {
//         transform: scale(1, 3);
//     }
// }