@keyframes delay {
    0%, 40%, 100% { 
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
  .loader {
    margin: 0 auto;
    pointer-events: none;
    text-align: center;
    font-size: 10px;
    position: fixed;
    top: 0;
    left: 0;
    // transform: translateY(-50%) translateX(-50%);
    z-index: 500;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .bars {
        width: 60px;
        height: 50px;
    }
    .bar {
      height: 100%;
      width: 8px;
      display: inline-block;
      float: left;
      margin-left: 2px;
      animation: delay 0.8s infinite ease-in-out;
    }
    &:before,
    &:after{
      content: '';
      height: 50vh;
      width:100%;
      position:fixed;
      left:0;
      background: #1c2020;
      z-index: -1;
    }
    
    &:before{
      top: 0;
      height: calc(50vh + 5px);
      transform: translateY(-100%);
    }
    &:after{
      bottom: 0;
      transform: translateY(100%);
    }
    .bar1{
      background-color: #754fa0 ;
    }
    .bar2{
      background-color: #09b7bf;
      animation-delay: -0.7s;
    }
    .bar3{
      background-color: #90d36b;
      animation-delay: -0.6s;
    }
    .bar4{
      background-color: #f2d40d;
      animation-delay: -0.5s;
    }
    .bar5{
      background-color: #fcb12b;
      animation-delay: -0.4s;
    }
    .bar6{
      background-color: #ed1b72;
      animation-delay: -0.3s;
    }
  }

// //spin-circle
// .loading-circle {
//     margin: 0 auto;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     border: 4px solid #BEB69D;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     animation: spin 1s infinite linear;
//     &:before {
//         content: '';
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         display: block;
//         position: absolute;
//         left: -4px;
//         top: -4px;
//         border-right: 4px solid #BEB69D;
//         border-top: 4px solid #BEB69D;
//         border-left: 4px solid #FFF;
//         border-bottom: 4px solid #BEB69D;
//     }
// }

// @keyframes spin {
//     100% {
//         transform: rotate(360deg);
//     }
// }

// //animation bar
// .loading-bars {
//     text-align: center;
//     opacity: .6;
//     transition-duration: 0.3s;
//     &:hover {
//         opacity: 1;
//     }
// }

// .loading-bars {
//     .bar {
//         height: 20px;
//         width: 10px;
//         background: #FFF;
//         display: inline-block;
//         animation: loadpulse 1.2s infinite ease-out;
//     }
// }

// .loading-bars .bar:nth-of-type(0n+1) {
//     animation-delay: 0s;
// }

// .loading-bars .bar:nth-of-type(0n+2) {
//     animation-delay: 0.2s;
// }

// .loading-bars .bar:nth-of-type(0n+3) {
//     animation-delay: 0.4s;
// }

// .loading-bars .bar:nth-of-type(0n+4) {
//     animation-delay: 0.6s;
// }

// .loading-bars .bar:nth-of-type(0n+5) {
//     animation-delay: 0.8s;
// }

// @keyframes loadpulse {
//     0%,
//     75% {
//         transform: scale(1, 1);
//     }
//     25% {
//         transform: scale(1, 3);
//     }
// }