nav {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 500;
  i {
    display: block;
    width: 44px;
    height: 44px;
    transition: 0.4s ease all;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 44px 44px;
    z-index: 1;
    &.ihome {background-image: url(../../images/layout/ihome.svg);}
    &.iabout {background-image: url(../../images/layout/iabout.svg);}
    &.iservice {background-image: url(../../images/layout/iservice.svg);}
    &.inews {background-image: url(../../images/layout/news.svg);background-size: 40px;}
    &.icontact {background-image: url(../../images/layout/icontact.svg);}
    @include mq($lg) {
      background-size: 50px 50px;
      width: 50px;
      height: 50px;
    }
  }
    @include mq($xs, $lg - 1) {
      display: none;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        background: #7F4F21;
        // border-bottom-left-radius: 40px;
        // border-bottom-right-radius: 40px;
        box-shadow: 2px 10px 20px rgba(67, 47, 191, 0.5);
      }
      li {
        display: inline-block;
        width: calc(100% / 4);
      }
      a {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0 30px 0;
        flex-direction: column;
      }
      svg {
        display: block;
        // stroke: #fff;
        width: 38px;
        height: 38px;
        // transform: translateX(35px);
        margin-bottom: 10px;
        transition: 0.4s ease all;
        @include mq($lg) {
          width: 44px;
          height: 44px;
        }
      }
      a.active {
        justify-content: flex-start;
        color: #7F4F21;;
      }
      a.active svg {
        stroke: white;
        transform: translateX(0px) scale(0.85);
      }
      .link-text {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        color: white;
        width: 100%;
        // margin-left: 16px;
        font-size: 14px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease all;
        user-select: none;
        align-items: center;
        z-index: 1;
        transform: translateY(50px);
        @include mq($sm) {
          font-size: 16px;
        }
      }
      a.active .link-text {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(60px);
        transition-delay: .3s;
      }
      .link-background {
        display: none;
        position: absolute;
        left: 30px;
        top: 25px;
        background: rgba(#5e4ecb, .5);
        border-radius: 18px;
        width: 170px;
        height: 80px;
        z-index: 0;
        transition: 0.4s cubic-bezier(0.7, 0, 0.38, 0.86) all;
      }
    }
    @include mq($lg) {
      position: fixed;
      top: 0;
      height: 100vh;
      margin: 0;
      z-index: 50;
      width: 300px;
      &:hover {
        .link-background {
          .lbg {
              height: 180px;
          }
          &:before {
            border-radius: 0 0 40px 0;
          }
          &:after {
            border-radius: 0 40px 0 0;
          }
        }
      }
        ul {
            height: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
          //   padding-top: 40px;
            background: #7F4F21;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            // border-bottom-left-radius: 40px;
            // border-bottom-right-radius: 40px;
            // box-shadow: 2px 10px 20px rgba(67, 47, 191, 0.5);
        }   
        li {
        /*   display: inline-block; */
        /*   margin: 40px 20px; */  
          margin-bottom: 35px;
          margin-left: 40px;
        }
        a {
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 10px 25px;
        }
        svg {
          // stroke: #fff;
          width: 44px;
          height: 44px;
          transform: translateX(0);
          transition: 0.4s ease all;
        }
        
        a.active {
          .link-text {
            color: #7F4F21;
          }
        }
        a.active svg {
          stroke: white;
          transform: translateX(0px);
        }
        .link-text {
          color: white;
          margin-left: 16px;
          // opacity: 0;
          transition: 0.3s ease all;
          user-select: none;
          height: 42px;
          display: flex;
          align-items: center;
          z-index: 1;
          font-size: 18px;
        }
        a.active .link-text { 
          opacity: 1;
          transition-delay: 0.1s;
        }
        .link-background {
          position: absolute;
          left: 40px;
          top: calc(50% - 265px);
          background:#fdc200;
          border-radius: 18px 0 0 18px;
          width: 260px;
          height: 80px;
          z-index: 0;
          transition: 0.4s cubic-bezier(0.7, 0, 0.38, 0.86) all;
          .lbg {
              display: block;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 80px;
              height: 150px;
              background:#fdc200;
              z-index: 20;
              transition-duration: .5s;
          }
          &:before {
              content: '';
              position: absolute;
              top: -80px;
              right: 0;
              display: block;
              width: 80px;
              height: 80px;
              border-radius: 0 0 25px 0;
              background: #7F4F21;
              z-index: 30;
              transition-duration: 0.4s;
          }
          &:after {
              content: '';
              position: absolute;
              bottom: -80px;
              right: 0;
              display: block;
              width: 80px;
              height: 80px;
              border-radius: 0 25px 0 0;
              background: #7F4F21;
              z-index: 30;
              transition-duration: 0.4s;
          }
        }
    }
 
}